[Unit]
Description=Gymnasticon Bike Bridge
After=bluetooth.target network-online.target
Requires=bluetooth.target
Wants=network-online.target
StartLimitIntervalSec=0

[Service]
Type=simple
Environment=NODE_ENV=production
Environment=PATH=/opt/gymnasticon/node/bin:/opt/gymnasticon/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
WorkingDirectory=/opt/gymnasticon
ExecStart=/opt/gymnasticon/bin/gymnasticon --config /etc/gymnasticon.json
Restart=always
RestartSec=5
StandardOutput=journal+console
StandardError=journal+console
AmbientCapabilities=CAP_NET_RAW CAP_NET_ADMIN
NoNewPrivileges=true

[Install]
WantedBy=multi-user.target
