# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Node.js CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [14.x]

    steps:
    - uses: actions/checkout@v4
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v4
      with:
        node-version: ${{ matrix.node-version }}
    - name: Pin node-gyp 9.x
      run: |
        npm install -g node-gyp@9.4.1
        echo "npm_config_node_gyp=$(npm root -g)/node-gyp/bin/node-gyp.js" >> $GITHUB_ENV
    - run: npm ci
    - run: npm run build --if-present
    - run: npm test
